DB_URL=postgresql+psycopg2://<USERNAME>:<PASSWORD>@<CONTAINER_NAME>:<DATABASE_PORT>/<DATABASE_NAME>
SERVER_PORT=<APP_PORT>
SERVER_HOST=<APP_HOST>

POSTGRES_USER=<USERNAME>
POSTGRES_PASSWORD=<PASSWORD>
POSTGRES_DB=<DATABASE_NAME>